<div class="div1 grid lg:grid-cols-2 bg-center bg-cover h-[550px]" id="home">
   <div>
    <p class="font-bold text-white text-[40px] mx-10 mt-[30%]">
        Crush your <span class="text-red-500">Goals Here</span>
    </p>
    <p class="font-bold text-white text-justify mx-10">
        Lorem ipsum la douleur est amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
    </p>
   </div>
   <div></div>
</div>
<div class="relative">
    <img src="images/forme.PNG" alt="forme" class="absolute top-[3%] left-[-2%] md:top-[6%] md:left-[-7%]  lg:left-[-4%] lg:top-[7%] w-[100px] md:w-[200px] rotate-[90deg] z-5"/>
<div class="grid lg:grid-cols-2 relative gap-10 overflow-hidden mx-10 pb-10">
    <div class="div-2  justify-center items-center text-center relative">
        <img src="images/c.jpg" data-aos="flip-left" class="w-full mt-10 mx-auto rounded-lg shadow-md mt-[15%] z-10"/>
        <img src="images/forme.PNG" alt="forme" class="absolute bottom-[-10%] right-[-10%] md:bottom-[-10%] md:right-[-10%]  lg:right-[-12%] lg:bottom-[-7%] w-[100px] md:w-[200px] rotate-[-90deg]  z-1"/>
    </div>
    <div class="overflow-hidden relative">
       <h1 class="lg:mt-[15%] text-uppercase font-bold text-[25px]">
        Bienvenu  
       </h1>
       <p class="text-justify text-black mt-5"  data-aos="zoom-in">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
       </p>
       <p class="text-justify text-black mt-5"  data-aos="zoom-in">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
       </p>
       <p class="text-sm mt-2 text-justify"  data-aos="zoom-in">
        Enfin une salle sans compétition, ou le sport est avant tout un plaisir partagé!
       </p>
       <button routerLink="/about" class="bg-transparent mt-[7%] animate-bounce border border-red-500 text-red-500 font-bold px-5 py-2 rounded-md mt-5 hover:bg-red-500 hover:text-white">
          Découvrir la salle
       </button>
    </div>
</div>
</div>
<app-about></app-about>
<app-services></app-services>
<app-marketplace></app-marketplace>
<app-event></app-event>
<app-contact></app-contact>