<div class="body mt-[50px] bg-black relative">
<div class="mx-[7%] swiper">
    <div class="slide-wrapper">

     <div class="card-list swiper-wrapper">

       <div class="card-item swiper-slide shadow-md">
          <img class="user-image" src="images/37452145_8429130.jpg"/>
          <h3 class="user-name">Portéine Way</h3>
          <p class="user-profession text-red-500 font-bold mt-5 text-[20px]">200 $</p>
          <button class="bg-transparent w-[300px]  py-2 bg-black mt-10 border-2 border-black hover:bg-black hover:text-white rounded-md">
            Commander <i class="fa-solid fa-cart-shopping"></i>
        </button>
       </div>
        
       <div class="card-item swiper-slide shadow-md">
        <img class="user-image" src="images/4429.jpg"/>
        <h3 class="user-name">Tapiq fitness</h3>
        <p class="user-profession text-red-500 font-bold mt-5 text-[20px]">50 $</p>
        <button class="bg-transparent  w-[300px]  py-2 bg-black mt-10 border-2 border-black hover:bg-black hover:text-white rounded-md">
          Commander <i class="fa-solid fa-cart-shopping"></i>
      </button>
     </div>


     <div class="card-item swiper-slide">
        <img class="user-image" src="images/3d-gym-equipment.jpg"/>
        <h3 class="user-name">Paire Haltères</h3>
        <p class="user-profession text-red-500 font-bold mt-5 text-[20px]">80$</p>
        <button class="bg-transparent  w-[300px]  py-2 bg-black mt-10 border-2 border-black hover:bg-black hover:text-white rounded-md">
          Commander <i class="fa-solid fa-cart-shopping"></i>
      </button>
     </div>


     <div class="card-item swiper-slide">
        <img class="user-image" src="images/medium-shot-woman-exercising-with-elastic-band.jpg"/>
        <h3 class="user-name">Corde élastique</h3>
        <p class="user-profession text-red-500 font-bold mt-5 text-[20px]">30$</p>
        <button class="bg-transparent  w-[300px]  py-2 bg-black mt-10 border-2 border-black hover:bg-black hover:text-white rounded-md">
          Commander <i class="fa-solid fa-cart-shopping"></i>
      </button>
     </div>


     <div class="card-item swiper-slide">
        <img class="user-image" src="images/37452145_8429130.jpg"/>
        <h3 class="user-name">Portéine</h3>
        <p class="user-profession text-red-500 font-bold mt-5 text-[20px]">200$</p>
        <button class="bg-transparent  w-[300px]  py-2 bg-black mt-10 border-2 border-black hover:bg-black hover:text-white rounded-md">
          Commander <i class="fa-solid fa-cart-shopping"></i>
      </button>
     </div>

     <div class="card-item swiper-slide">
        <img class="user-image" src="images/37452145_8429130.jpg"/>
        <h3 class="user-name">Portéine</h3>
        <p class="user-profession text-red-500 font-bold mt-5 text-[20px]">200$</p>
        <button class="bg-transparent  w-[300px]  py-2 bg-black mt-10 border-2 border-black hover:bg-black hover:text-white rounded-md">
          Commander <i class="fa-solid fa-cart-shopping"></i>
      </button>
     </div>

    
     </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
    </div>
</div>
<button class="px-10 py-4 bg-red-500 absolute right-10 bottom-0 rounded-md text-white animate-bounce">
   Slider  <i class="fa-solid fa-arrow-right"></i>
</button>
</div>