<div class="bg-gray-50">
    <div class="grid lg:grid-cols-2  py-[6%]">
        <div></div>
        <div class="justify-center items-center">
            <div class="shadow-xl border bg-white mt-[15%] lg:mt-[5%] h-[550px] lg:w-[80%] mx-5 rounded-lg">
                <h2 class="font-bold text-center mt-5">Contact</h2>
                <form>
                    <div class="grid mx-10 gap-2">
                        <label>Nom</label>
                        <input type="text" class="border-2 rounded-md h-[40px] px-5"/>
                    </div>
                    <div class="grid mx-10 gap-2 mt-5">
                        <label>Email</label>
                        <input type="email" class="border-2 rounded-md h-[40px]  px-5"/>
                    </div>
                    <div class="grid mx-10 gap-2 mt-5">
                        <label>Téléphone</label>
                        <input type="tel" class="border-2 rounded-md h-[40px]  px-5"/>
                    </div>
                    <div class="grid mx-10 gap-2 mt-5">
                        <label>Message</label>
                        <textarea class="border-2 rounded-md h-[80px]  px-5">
                        </textarea>
                    </div>
                    <div class="grid mx-10 gap-2 mt-5">
                        <button class="w-full bg-black text-white py-3 rounded-md hover:bg-black/50 font-bold">
                            Envoyer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>